*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1000px;
    
}

header{
    position: fixed;
    width: 100%;
    background-color: white;
}
main{
    padding-top: 100px;
}

.conteiner-head{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.ul-top{
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    
}

ul.ul-top>li{
    padding-left: 1rem;
    color: rgb(119, 119, 119);
}


.button-nav{
    font-size: .8rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.8rem;
    background-color: rgb(0, 97, 255);
    color: white;
    border:none;

}


#title{
    padding-top: 2rem;
    width: 100%;
    background-color: rgb(180, 208, 231);
    text-align: center;
    
}

h1{
    margin: 0 auto;
    width: 60%;
    font-size: 5rem;
    text-align: left;
    
}

.conteiner{
    margin: 0 auto;
    background-color: rgb(180, 208, 231);
    padding-top: 1.5rem;
    height: 35%;
    
}

.top-content{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 45%;

}

.p-title{
    width: 35%;
    background-color: rgb(180, 208, 231);

}

.p-title>p{
    font-size: 1.1rem;
    padding-top: 1.3rem;
    margin-bottom: 1.7rem;
}

.checkbox{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    
}

.checkbox-conteiner{
    display: inline-block;
    padding-right: 5rem;

}

.checkbox-conteiner>p{
    display: inline-block;

}

.blue-button{
    background-color:  rgb(0, 97, 255);
    color: white;
    font-size: 1.5rem;
    padding: .7rem;
    border:none;
    margin-bottom: 1rem;


}

.img-title{
    height: 280%;
    width: 50%
    
}

.content-centered{
    width: 65vw;
    margin: 0 auto;
    
}


.main-title {
    width: 70%;
    text-align: left;
    padding-top: 1.5rem;
    margin-left: 5rem;
    margin-bottom: 7rem;
    margin-top: 7rem;
}

div.main-title>h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.conteiner-cards{
    
    width: 90%;
    margin-bottom: 1.5rem;
    display: flex;
    
}


.cards{
    margin-left: .5rem;
    border: solid lightgray;
    width: calc(90% / 3);
}

.type-business{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: -.5rem;
    
    
}

hr{
    margin: 1.5rem 0 1.5rem 0;
}

div.cards>h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-left: 1.8rem;
}

div.cards>h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 1.8rem;
}

div.cards>span{
    padding-left: 1.8rem;
}

span.duration{
    color: rgb(202, 180, 160);
}

.ul-cards>li{
    padding-left: 1.8rem;
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
    color:rgb(69, 60, 52);
}

.button-cards{
    margin: 2rem 15% 2rem 15%;
    
}

ul.ul-cards{
    margin-top: 3rem;
}
.type-team{
    width: 83%;
    display: flex;
    justify-content: center;
    border: solid lightgray;
    border-bottom: none;
    padding: .5rem .5rem;
}

#div-conteiner{
    display: flex;
    justify-content: center;
    width: 83%;
    border: solid lightgrey;
    margin-bottom: 7rem;
}

.div-button-box{
    width: 50%;
    height: 50%;
    padding-top: 2rem;
    padding-right: 1rem;
}

.div-button-box>button{
    background-color:  rgb(0, 97, 255);
    color: white;
    font-size: 1.3rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border:none;
    margin-left: 25%;



}


.div-box{
    width: 82%;
    padding: 2rem 0 0 1.5rem;

}

.div-box>h2{
    font-size: 1.7rem;
    padding-bottom: 1.3rem;
}

.div-box>p{
    font-size: 1.2rem;
    padding-top: 2.5rem;
    margin-bottom: 3rem;
}



.conteiner-img-para{
    display: flex;
    width: 100%;
    height: 600px;


}

.div-para{
    height: 100%;
    width: 30%;
    padding-top: 6rem;
    padding-left: 4rem;
}
div.div-para>h2{
    font-size: 2rem;
}

div.div-para>p{
    font-size: 1.3rem;
    padding-top: 2rem;
}

.white-button{
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 2rem;
    border-color: rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    background-color: white;


}

.div-img{
    height: 100%;
    width: 60%;
    
}

.title-h2{
    font-size: 2rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
    text-align: center;

}

.conteiner-cards-low{
    margin-top: 3rem;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    
    
}

.card-low{
    padding-left: 2rem;
    flex-basis: 33.3%;
    width: 35%;
    padding-bottom: 3rem;
    
}

div.card-low>img{
    text-align: center;
    width: 350px;
    height: 280px;
}

div.card-low>h2{
    padding-top: 1.3rem;
   font-size: 1.7rem;
   
}

div.card-low>p{
    font-size: 1.1rem;
    padding-top: 1.5rem;
 }

.div-middle-conteiner{
    width: 750px;
    height: 350px;
    margin: 3rem 0 3rem 0;
}

.div-middle-conteiner>h2{
    font-size: 2.7rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.div-middle-conteiner>a{
    font-size: 1.2rem;
}



#box-conteiner{
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 100vw;
}


.four-box{
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/ 2);
    height: calc(100% / 2);
    
}


.box{
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    
}

.color-bordeaux{
    background-color: rgb(97, 8, 43);
    background-image: url(../img/arizona_state_university.svg);
}


.color-green{
background-color: rgb(162, 211, 155);
background-image: url(../img/designit.svg);
}

.color-acqua{
    background-color: rgb(0, 147, 206);
    background-image: url(../img/university_of_florida.svg);
}

.color-red{
    background-color: rgb(255, 28, 28);
    background-image: url(../img/topps.svg);
}

.color-darkred{
    background-color: rgb(213, 0, 31);
    background-image: url(../img/world_bicycle_relief.svg);
}

.color-azure{
    background-color: rgb(180, 208, 231);
    background-image: url(../img/hearst_corp.svg);
}

.color-blue{
    background-color: blue;
    background-image: url(../img/lonely_planet.svg);
}


.color-yellow{
    background-color: rgb(255, 216, 48);
    background-image: url(../img/clear_channel.svg);
}



div.four-box>img{
    width: 150px;
    height: 100px;

}

div.four-box>p{
    font-size: 1.1rem;
    padding-top: 3rem;
    margin-bottom: 2.5rem;
    text-align: left;
}

.adv{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(180, 208, 231);
    
}

#adv-button-conteiner{
    width: 500px;
    text-align: center;
}

#adv-button-conteiner>button{
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: white;
    border: none;
}


div.adv>h2{
    width: 35%;
    font-size: 2.7rem;
    text-align: left;
    color: rgb(97, 8, 43);
}

.requests{
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 10rem;
    
   
}


.div-requests{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
    border-bottom: solid  lightgrey;
}

.div-requests>h3{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.div-requests>p{
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-size: 1rem;
}

.icon-conteiner{
    padding-right: 3rem;
}

footer{
    width: 100%;
    height: 60vh;
    background-color: black;
}

.footer-box{
    height: 100%;
    display: flex;
    
    
}
    
.ul-box{
    margin-top: 5rem;
    width: calc(100% / 5);
    height: 70%;
    margin-left: 3.8rem;
}

ul>li{
    color: white;
    list-style-type: none;
    font-size: 1.1rem;
    padding-top: .9rem;
}


.ul-box>h4{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.6rem;
}

.ul-box>hr{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.ul-box>p{
    color: lightgrey;
}